@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&family=Long+Cang&family=Ma+Shan+Zheng&family=Noto+Serif+TC:wght@400;600;900&family=Silkscreen:wght@400;700&family=Zen+Maru+Gothic:wght@400;500;700;900&family=ZCOOL+XiaoWei&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-pixel: "Silkscreen", monospace;
  --font-rounded: "Zen Maru Gothic", "M PLUS Rounded 1c", "PingFang TC", "Hiragino Sans GB", "Microsoft JhengHei", sans-serif;
  --font-calligraphy: "Ma Shan Zheng", "Long Cang", "ZCOOL XiaoWei", "Kaiti", "STKaiti", "DFKai-SB", "Noto Serif TC", serif;
}

@layer base {
  body {
    @apply font-sans select-none;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* PixelFun 2 Arrow - https://www.cursors-4u.com/cursor/pixelfun-2-arrow */
html:not(.umiri-special-active):not(.banned-list-active) *,
html:not(.umiri-special-active):not(.banned-list-active) {
  cursor: url('https://cdn.cursors-4u.net/previews/normal-d39038c9-64.webp') 20 21, auto !important;
}
/* End www.Cursors-4U.com Code */
